spell-venv
__pycache__
.tdb
.cache
robot
*.code-workspace
.cl.sparql
.coverage
.out.csv
tmp.owl
.DS_Store

yago-fragment.owl
yago-fragment-without-target.owl
custom-schema.owl
*.owl
P.txt
N.txt

*.ttl
*.nt
*.png

\definition_extraction